networks:
  pokenini-local:
    external: true

services:
  php:
    networks:
      default:
        aliases:
          - api-php

  web:
    networks:
      default: {}
      pokenini-local:
        aliases:
          - api.pokenini.local
