parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\Cache\\\\CacheInterface\\:\\:clear\\(\\)\\.$#"
			count: 1
			path: src/Service/CalculatorService/DexAvailabilitiesCalculatorService.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundlesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundlesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundlesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundlesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$blue\\.$#"
			count: 2
			path: tests/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$green\\.$#"
			count: 2
			path: tests/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$nexistepas\\.$#"
			count: 2
			path: tests/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$red\\.$#"
			count: 2
			path: tests/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$yellow\\.$#"
			count: 2
			path: tests/Functional/Repository/GamesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$emerald\\.$#"
			count: 1
			path: tests/Functional/Repository/GamesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$nexistepas\\.$#"
			count: 1
			path: tests/Functional/Repository/GamesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$ruby\\.$#"
			count: 1
			path: tests/Functional/Repository/GamesShiniesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundlesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundlesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundlesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundlesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$blue\\.$#"
			count: 2
			path: tests/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$emerald\\.$#"
			count: 3
			path: tests/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$red\\.$#"
			count: 3
			path: tests/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$ruby\\.$#"
			count: 1
			path: tests/Functional/Service/GamesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$blue\\.$#"
			count: 2
			path: tests/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$emerald\\.$#"
			count: 3
			path: tests/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$red\\.$#"
			count: 3
			path: tests/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$ruby\\.$#"
			count: 1
			path: tests/Functional/Service/GamesShiniesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesShiniesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Unit/DTO/GamesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Unit/DTO/GamesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Unit/DTO/GamesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Unit/DTO/GamesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Unit/DTO/GamesShiniesAvailabilitiesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GamesShiniesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Unit/DTO/GamesShiniesAvailabilitiesTest.php

		-
			message: "#^Call to an undefined method object\\:\\:getIdentifier\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/BaseEntityTraitTest.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/NamedTraitTest.php

		-
			message: "#^Call to an undefined method object\\:\\:__toString\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/NamedTraitTest.php

		-
			message: "#^Cannot cast object to string\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/NamedTraitTest.php

		-
			message: "#^Parameter \\#1 \\$originalClassName of method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 2
			path: tests/Unit/MessageHandler/AbstractTestCalculateHandler.php

		-
			message: "#^Unable to resolve the template type RealInstanceType in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\)$#"
			count: 2
			path: tests/Unit/MessageHandler/AbstractTestCalculateHandler.php

		-
			message: "#^Parameter \\#1 \\$originalClassName of method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 2
			path: tests/Unit/MessageHandler/AbstractTestUpdateHandler.php

		-
			message: "#^Unable to resolve the template type RealInstanceType in call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\)$#"
			count: 2
			path: tests/Unit/MessageHandler/AbstractTestUpdateHandler.php