parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\Cache\\\\CacheInterface\\:\\:clear\\(\\)\\.$#"
			count: 1
			path: src/Service/CalculatorService/DexAvailabilitiesCalculatorService.php

		-
			message: "#^Parameter \\#1 \\$iterator of function iterator_to_array expects Traversable, iterable given\\.$#"
			count: 1
			path: tests/Functional/Repository/DexRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundlesAvailabilitiesRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundlesAvailabilitiesRepositoryTest.php

		-
			message: "#^Parameter \\#1 \\$iterator of function iterator_to_array expects Traversable, iterable given\\.$#"
			count: 1
			path: tests/Functional/Repository/PokemonsRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundlesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundlesAvailabilitiesServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabiliesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabiliesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabiliesTest.php

		-
			message: "#^Call to an undefined method object\\:\\:getIdentifier\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/BaseEntityTraitTest.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/NamedTraitTest.php

		-
			message: "#^Call to an undefined method object\\:\\:__toString\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/NamedTraitTest.php

		-
			message: "#^Cannot cast object to string\\.$#"
			count: 1
			path: tests/Unit/Entity/Trait/NamedTraitTest.php
