parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\Cache\\\\CacheInterface\\:\\:clear\\(\\)\\.$#"
			count: 1
			path: src/Command/CalculateDexAvailabilityCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\Cache\\\\CacheInterface\\:\\:clear\\(\\)\\.$#"
			count: 1
			path: src/Command/CalculateGameBundleAvailabilityCommand.php

		-
			message: "#^Parameter \\#1 \\$iterator of function iterator_to_array expects Traversable, iterable given\\.$#"
			count: 1
			path: tests/Functional/Repository/DexRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundleAvailabilityRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Repository/GameBundleAvailabilityRepositoryTest.php

		-
			message: "#^Parameter \\#1 \\$iterator of function iterator_to_array expects Traversable, iterable given\\.$#"
			count: 1
			path: tests/Functional/Repository/PokemonRepositoryTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$goldsilvercrystal\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundleAvailabilityServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$redgreenblueyellow\\.$#"
			count: 3
			path: tests/Functional/Service/GameBundleAvailabilityServiceTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$a\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabiliesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$b\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabiliesTest.php

		-
			message: "#^Access to an undefined property App\\\\DTO\\\\GameBundlesAvailabilities\\:\\:\\$c\\.$#"
			count: 1
			path: tests/Unit/DTO/GameBundlesAvailabiliesTest.php
