includes:
	- tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
	- tools/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon
	- tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
	- tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
	- tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	doctrine:
		objectManagerLoader: tests/object-manager.php
		reportUnknownTypes: true
	symfony:
		containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
