# API Platform distribution
TRUSTED_PROXIES='127.0.0.1,REMOTE_ADDR'
TRUSTED_HOSTS='^(?:localhost)|(?:.*.herokuapp.com)|(?:.*.?pokenini.fr)$'

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=480b9668430b917c5639f772a4566136
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app:!ChangeMe!@database:5432/app?serverVersion=14&charset=utf8"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
###> google/apiclient ###
SPREADSHEET_ID="1CGJcxz37UPax0WCa_SIPZHDRQ0K46RJzS6P699P8Bfs"
GOOGLE_CREDENTIALS_PATH="resources/auth/credentials.json"
GOOGLE_API_SHEETS_URL="https://sheets.googleapis.com/"
###< google/apiclient ###

# 'douze'
WEB_PASSWORD='$2y$13$RhfkxZKQjGPAAqK9riwguOkrmd0kXwOK4BOaqcy34wik2BDQTXhs.'

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###